<div class="container"><mat-chip-list multiple aria-label="Fish selection">
    <mat-chip color="primary" *ngFor="let tag of tagArray" #c="matChip" (click)="selection(c)">{{tag}}</mat-chip>
      <!-- <mat-chip #c="matChip" (click)="selection(c)" color="primary">Lavoro</mat-chip>
      <mat-chip color="primary">Casa</mat-chip>
      <mat-chip color="primary">Spesa</mat-chip>
      <mat-chip color="primary">Svago</mat-chip>
      <mat-chip color="primary">Altro</mat-chip> -->
    </mat-chip-list>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Task Name</mat-label>
        <input matInput type="text" [(ngModel)]="taskModel.name">
        <button *ngIf="taskModel.name" matSuffix mat-icon-button aria-label="Clear" (click)="taskModel.name=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Task Priority</mat-label>
        <input matInput type="number" [(ngModel)]="taskModel.priority">
        <button *ngIf="taskModel.priority !== 0" matSuffix mat-icon-button aria-label="Clear" (click)="taskModel.priority=0">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
      
    <button (click)="saveTask()" class="button" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>add</mat-icon>
    </button>
<!-- 
    <div>
      <span *ngFor="let tag of tags" (click)="selectTag(tag)" ngclass="tag.isSelected ? 'chip-selected' : 'chip-unselected'" >{{tag.name}}</span>
    </div> -->

</div>
